    .page-link {
        border-color: #4FB286;
        color: #4FB286;
    }
    
    .page-link:hover {
        z-index: 2;
        color: rgb(71, 141, 110);
        text-decoration: none;
        background-color: #eaecf4;
        border-color: #4FB286;
    }
    
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #4FB286;
        border-color: #83f0bf;
    }
    
    .page-link:focus {
        z-index: 3;
        outline: 0;
        box-shadow: 0 0 0 0.2rem #a0eecb;
    }
    
    .fa-check {
        color: green;
    }
    
    .fa-times {
        color: red;
    }